@use "@/styles/variables.scss" as vars;

.body {
  background: vars.$background;
  font-size: 35px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.entryPoint {
  background: vars.$background;
  display: flex;
  height: 100%;
  width: 100%;
}
