/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated

packages/database/src/* linguist-generated
packages/database/src/**/* linguist-generated

packages/game-state-database/src/* linguist-generated
packages/game-state-database/src/**/* linguist-generated
