$white: #fff;
$black: #000;

$font: #292f33;
$muted-font: #c5c8ca;

$red: #cb4335;
$yellow: #f1c40f;
$green: #1d8348;
$blue: #2e86c1;

$background: #f2f4f4;

$hover: rgba($muted-font, 0.25);
$border-color: rgba($muted-font, 0.5);
